body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 31, 63, 0);
    z-index: -1;
  }

  #navbar {
    background: linear-gradient(to right, #0671B7, #67A3B9, #C8E7F5, #F6E2D0, #F8B7ED);
    opacity: 0;
    padding: 2px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  #navbar.show {
    opacity: .95;
  }
  .title {
    background: none;
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    position: relative;
    left: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);
  }

  #gray-bar {
    background-color: #AAA;
    height: 5px;
    width: 0;
    position: fixed;
    top: 55px; 
    z-index: 999;
    transition: width .2s ease-in-out, opacity 0.5s;
  }

  #navbar.show + #gray-bar {
    width: 100%;
  }

  #tabs {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-right: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
  }

  .tab {
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }

  .tab:hover {
    color: #FBFBC0;
  }

  #dynamic-block-content {
      margin-top: 80px;
  }

  #content-container {
      width: 80vw;
      height: 130vh;
      margin: auto;
  }